@font-face {
  font-family: 'Comic Sans Custom';
  src: url('/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Comic Sans Custom', "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

* {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-gif {
    height: 50px;
    width: auto;
}

body.warning-body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #ff0000;
    text-align: center;
    box-sizing: border-box;
}

body.warning-body h1 {
    font-size: 2.5rem;
}

.lowk {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    background-color: #000;
    color: #ff0000;
    text-align: center;
    box-sizing: border-box;
}

.rainbow-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 3s ease infinite;
  font-weight: bold;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}